*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:40px;
}

nav{
    background:#111827;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#60a5fa;
}

section{
    width:80%;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    color:#1e3a8a;
    margin-bottom:15px;
}

ul{
    list-style:none;
}

ul li{
    background:#e5e7eb;
    margin:10px 0;
    padding:10px;
    border-radius:5px;
}

.project-card{
    background:#f9fafb;
    padding:15px;
    margin-top:15px;
    border-left:5px solid #1e3a8a;
}

footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

@media(max-width:768px){

    section{
        width:95%;
    }

    nav a{
        display:block;
        margin:10px;
    }
}